<% if signed_in? %>

<div class="text-center">
  <h1 class="brand-heading">Redeem code</h1>
  <p>
    Enter your redeem code <br />
    (gift code, promo code)
  </p>
  <%= simple_form_for @user_redeem_code do |f| %>

    <%= f.input :code, label: false %>
    <%= f.submit "Redeem", {class: 'btn btn-primary btn-huge'} %>

  <% end %>
</div>

<% else %>

  <%= content_for(:js_scripts) do %>
    <script type="text/javascript">
      $(document).ready(function() {
        show_modal_authentication("", true)
      });
    </script>
  <% end %>

<% end %>