<div class="post-feed">
	<%= link_to activity.owner.username, person_path(activity.owner) if activity.owner %>
	updated the group cover image

	<div class="small text-muted">
	  <%= time_ago_in_words(activity.created_at) %> ago
	</div>
	<%= render 'activities/actions', activity: activity %>
</div>