<%= render "shared/onboarding_process_header" %>

<h1 class="page-header">Connect with your groupies</h1>

<% if @user_groupies %>

  <div class="thumbnail-grid row">

    <% @user_groupies.each do |user_groupie| %>
      <%= render 'user_groupie', user_groupie: user_groupie %>
    <% end %>

  </div>

<% else %>

  Connect your account to facebook and find your groupies

<% end %>

<p>
  <%= link_to "Continue", start_tour_path, {class: "btn btn-primary"} %>
</p>
