<%= render "shared/onboarding_process_header", next_link: root_path(take_tour: 1), id: 'fb_friends_selection' %>

<h1 class="page-header">Connect with your facebook friends</h1>

<% if @user_groupies %>

  <div class="thumbnail-grid row">

    <% @user_groupies.each do |user_groupie| %>
      <%= render 'user_groupie', user_groupie: user_groupie %>
    <% end %>

  </div>

<% else %>

  <p>Connect your account to facebook and find new friends</p>

<% end %>
