<%= render 'shared/header_page', title: 'Artists' %>

<% unless @artists.blank?%>

	<div class="thumbnail-grid row">
	  <%= render @artists %>
	</div>

<% end %>

<br />

<%= render 'shared/header_page', title: 'Most Popular Artists', sub_header: true, view_more: 'View more', view_more_path: most_popular_artists_path %>

<% unless @top_artists.blank? %>

	<div class="thumbnail-grid row">
	  <%= render @top_artists %>
	</div>

<% end %>