<h1><i class="icon-star"></i> Artists</h1>

<% unless @artists.blank?%>

<ul class="block-grid">
<% @artists.each do |artist| %>
	<li>
		<%= link_to artist_path(artist) do %>
			<img src="http://placehold.it/300x300" alt="<%= artist.title %>">

			<span class="artist-title"><%= artist.title%></span>
		<% end %>
	</li>
<% end %>
</ul>

<% end %>
