<h1 class="page-header"><small><i class="glyphicon glyphicon-star"></i></small> Artists</h1>

<p>
	<%= link_to "Most popular artists", most_popular_artists_path, {class: 'btn btn-primary'} %>
</p>

<% unless @artists.blank?%>

<div class="thumbnail-grid row">
	
	<% @artists.each do |artist| %>
		<div class="masonry-img col-md-3 col-sm-4 col-xs-6">
			<div class="thumbnail">
				<%= image_tag(asset_path('default_user.png'), {alt: artist.title}) %>
				<div class="overlay-actions">
					<div class="thumb-info">
						<h4><%= link_to artist.title, artist_path(artist) %></h4>
					</div>		      
				</div>				
			</div>
		</div>
	<% end %>

</div>

<% end %>
