<h1><i class="icon-star"></i> Most popular 50 artists</h1>

<% @artists.each do |artist| %>
  <div>
    <div><%= image_tag artist.images.first.url, height: '300', width: '250' %></div>
    <div><%= artist.name %></div>
  </div>
  <br />
<% end %>
