<h1 class="page-header"><small><i class="glyphicon glyphicon-star"></i></small> Most popular 50 artists</h1>

<div class="thumbnail-grid fixed-grid">

  <% @artists.each do |artist| %>

		<div class="thumbnail">
      <%= image_tag artist.images.first.url %>
            
      <div class="overlay-actions">
				<p><strong><%= artist.name %></strong></p>
	
	      <div class="btn-group-vertical">
	        <%= link_to "Follow", "#", {class: 'btn btn-sm btn-primary'} %>
	        <%= link_to "Challenge", "#", {class: 'btn btn-sm btn-success'} %>
				</div>
  		</div>
  	</div>
  	
  <% end %>

</div>
