<div class="levels-lnd"><div class="icon-landing l-lvl1"></div> <span>Anonymous</span></div>
<div class="levels-lnd"><div class="icon-landing l-lvl2"></div> <span>Dreamer</span></div>
<div class="levels-lnd"><div class="icon-landing l-lvl3"></div> <span>Beginner</span></div>
<div class="levels-lnd"><div class="icon-landing l-lvl4"></div> <span>Music Student</span></div>
<div class="levels-lnd"><div class="icon-landing l-lvl5"></div> <span>Band Member</span></div>
<div class="levels-lnd"><div class="icon-landing l-lvl6"></div> <span>Indie Artist</span></div>
<div class="levels-lnd"><div class="icon-landing l-lvl7"></div> <span>Rockstar</span></div>
<div class="levels-lnd"><div class="icon-landing l-lvl8"></div> <span>Headliner</span></div>
<div class="levels-lnd"><div class="icon-landing l-lvl9"></div> <span>Hall of Fame</span></div>
<div class="levels-lnd"><div class="icon-landing l-lvl10"></div> <span>InstrumentChamp</span></div>