<div class="icon-landing l-f1"></div>
<div class="icon-landing l-f2"></div>
<div class="icon-landing l-f3"></div>
<div class="icon-landing l-f4"></div>
<div class="icon-landing l-f5"></div>
<div class="icon-landing l-f6"></div>