<div class="icon-landing l-guitar"></div>
<div class="icon-landing l-guitar2"></div>
<div class="icon-landing l-keyboard"></div>
<div class="icon-landing l-saxophone"></div>
<div class="icon-landing l-trumpet"></div>
<div class="icon-landing l-drums"></div>