<h1 class="page-header"><small><i class="glyphicon glyphicon-music"></i></small> Paid Songs</h1>

<p>
  Start playing your new song right now!
</p>

<div class="thumbnail-grid row">
  <%= render @user_paid_song.song.decorate %>
</div>
