.shopping-cart-popover {
  .title {
    width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 0px 0px 10px;
  }
  .items {
    padding: 10px 0px;
    border-bottom: 1px solid #DDD;
  }
  .price {
    padding-top: 5px;
  }

  .items:last-child {
    margin-bottom: 10px;
  }
}

.well-gift-card {
  label {
    font-weight: normal;
    color: $brand-primary;
    padding-left: 10px;
  }
}

.total-price {
  span {
    width: 60px;
    display: inline-block;
  }
}

.shopping-cart-cont {
  border-right: 1px solid #DEDEDE;
  padding-right: 40px !important;
}

.checkout-cont {
  padding-left: 40px !important;

  .wrap-content {
    width: 308px;

    input {
      width: 100% !important;
    }
  }

  .credit_card_expiry_date {
    width: 152px;
  }
}

.btn-buy {
  width: 100%;
}

@media screen {
  #printSection {
      display: none;
  }
}

@media print {
  body * {
    visibility:hidden;
  }
  #printSection, #printSection * {
    visibility:visible;
  }
  #printSection {
    position:absolute;
    left:0;
    top:0;
  }
}

.form-inline.form-send-redeem-code {
  .form-control {
    width: 300px;
    display: inline;
  }
}
