/* =GROUPS
-------------------------------- */

.group_privacy_description {
  font-weight: normal;
}

.group-nav {
  margin: 20px 0px;
  padding: 10px 0px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  
  .group-nav-list {
    list-style: none;
    margin: 4px 0px 0px 0px;
    padding: 0px;
    
    li {
      float: left;
      margin: 0px;
      padding: 0px 20px;
    }
  }
  
  .dropdown {
    display: inline-block;
  }
  
  h4 {
    margin: 0px;
  }
}

.group-posts {
  .thumbnail {
    width: 70px;
    margin-bottom: 0px;
  }
}

.cover-group {
  position: relative;
  
  .cover-img {
    width: 100%;
  }
  
  .profile-group-img {
    position: absolute;
    top: 60px;
    left: 50px;
    border: 4px solid #FFF;
    width: 125px;
  }
}

.group-challenge-item {
  h2 {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
  }
  
  .item-img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    
    img {
      width: 100px;
      height: 100px;
    }
  }
  
  .item-content {
    width: 160px;
  }
  
  float: left;
  width: 290px;
  //background: #ECF0F0;
  margin: 15px 15px 0px 0px;
  //padding: 10px;
}

.member-widget {
  .col {
    padding-right: 0px;
  }
}
