/* =GROUPS
-------------------------------- */

.group_privacy_description {
  font-weight: normal;
}

.group-challenge-item.masonry-img {
  float: left;
  width: 300px;
  margin: 15px 15px 0px 0px;
}

.group-challenge-item {

  .header-item {
    .truncate {
      max-width: 195px;
    }
  }
  h2 {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    line-height: 20px;
  }

  .item-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;

    img {
      width: 50px;
      height: 50px;
    }
  }

  .item-content {
    border: 1px solid #ececec;
    padding: 15px;
    background: #fbfbfb;

    .link_actions {
      .btn {
        margin-top: 5px;
      }
    }
  }
}

.member-widget {
  .col {
    padding-right: 0px;
  }
}

.group-nav-list-buttons {
  float: right;
}

@media (max-width: $screen-sm-max) {
  .group-nav-list-buttons {
    float: left;
    padding-top: 10px;

    .btn {
      margin-top: 5px;
    }
  }

  .group-nav-list {
    li:first-child {
      width: 100%;
      padding-bottom: 10px;
    }
  }
}
