/* =GROUPS
-------------------------------- */

.group_privacy_description {
  font-weight: normal;
}

.group-posts {
  .thumbnail {
    width: 70px;
    margin-bottom: 0px;
  }
}

.group-challenge-item {
  h2 {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
  }

  .item-img {
    width: 100px;
    height: 100px;
    margin-right: 10px;

    img {
      width: 100px;
      height: 100px;
    }
  }

  .item-content {
    width: 160px;
  }

  float: left;
  width: 290px;
  //background: #ECF0F0;
  margin: 15px 15px 0px 0px;
  //padding: 10px;
}

.member-widget {
  .col {
    padding-right: 0px;
  }
}

.group-nav-list-buttons {
  float: right;
}

@media (max-width: $screen-sm-max) {
  .group-nav-list-buttons {
    float: left;
    padding-top: 10px;

    .btn {
      margin-top: 5px;
    }
  }

  .group-nav-list {
    li:first-child {
      width: 100%;
      padding-bottom: 10px;
    }
  }
}
