/*	=FRONT PAGE
----------------------------------------------------------------------*/

.home {

	[role="main"]{
		.actions a {
			font-weight: bold;
		}
	}

	.get-started {
		text-align: center;

		h2 {
			font-size: 1.8em;
		}
	}
}
