/*	=FRONT PAGE
----------------------------------------------------------------------*/

.home {

	.get-started {
		text-align: center;

		h1 {
			margin: 1em 0;
		}

		li {
			margin-bottom: .5em;

			a {
				min-width: 50%;
			}
		}
	}
}

#welcomeModal {
  p {
    font-size: 14px;
  }
}

.modal.welcome-modal {
  p {
    font-size: 12px;
  }
}

.alert.mobile-alert {
  margin-bottom: 0px;
  font-size: 14px;
}
