/* Navbar top */

.navbar.navbar-custom {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  min-height: 0;
  padding: 15px 0px;
  margin-bottom: 0;
  @include box-shadow(0, 1px, 3px, rgba(#000, .1));
  
  .navbar-brand {
    height: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    //margin-left: 0px !important;
    //line-height: 30px;
  }
  
  .navbar-brand:focus {
      outline: 0;
  }
  
  a {
      color: #fff;
  }
  
  a.button {
      color: #333;
  }
  
  .nav li a {
      -webkit-transition: background .3s ease-in-out;
      -moz-transition: background .3s ease-in-out;
      transition: background .3s ease-in-out;
  }
  
  .nav li a:hover,
  .nav li a:focus,
  .nav li.active {
      outline: 0;
      background-color: rgba(255,255,255,.2);
  }
  
  .navbar-toggle {
    float: none;
    margin: 0px 15px 10px 0px;
  }
  
  .sign-in-btn {
    vertical-align: top;
  }
  
  .navbar-collapse .page-scroll{
    a {
      text-align: center;
      font-weight: bold;
    }
  }
}

/* Video intro */

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#video-btn {
  transition: all 0.5s ease;
  -webkit-filter: drop-shadow(0px 0px 0px #FFF);
  filter:         drop-shadow(0px 0px 0px #FFF); 
}

#video-btn:hover {
  -webkit-filter: drop-shadow(0px 0px 10px #FFF);
  filter:         drop-shadow(0px 0px 10px #FFF); 
}

/* Navbar links */

.navbar.navbar-custom-links {  
  background-color:rgba(0, 0, 0, 0.8);
  min-height: 0;
  padding: 15px 0px;
  border-bottom: 1px solid rgba(255,255,255,.3);
  margin-bottom: 0;
  
  .navbar-nav {
    display: inline-block;
    float: none;
    width: 100%;
    
    li {
      width: 25%;
    }
    
    a {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  
  .container {
    text-align: center;
  }
  
  .page-scroll .icon-bar {
    background: #FFF;
  }
  
  .page-scroll.active a {
    position: relative;
    background: $comp;
    color: #FFF;
  }
  
  .page-scroll.active a:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: $comp;
    border-width: 10px;
    margin-left: -10px;
  }
  
  .page-scroll.active a:hover, .page-scroll.active a:focus {
    position: relative;
    background: $comp !important;
  }
  
  .page-scroll a {
    -webkit-transition: background 300ms ease-in 100ms; /* property duration timing-function delay */
    -moz-transition: background 300ms ease-in 100ms;
    -o-transition: background 300ms ease-in 100ms;
    transition: background 300ms ease-in 100ms;
    font-size: 16px;
  }
  
  .page-scroll a:hover, .page-scroll a:focus {
    background: none !important;
  }
  
  &.top-nav-collapse {
    border-top: 1px solid rgba(255,255,255,.3);
    top: 60px;
    bottom: auto;
  }
}


/* Content */

.landing-section {
  min-height: 100%;
  //padding-top: 150px;
  color: #fff;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-shadow: 2px 2px 5px #000;
  
  p {
    font-size: 20px;
  }
  
  h2 {
    font-size: 32px;
    margin-bottom: 30px;
  } 
  
}

#page-top {
  background: image-url('landing/slide0.jpg') no-repeat center center;
  //background-attachment: fixed;
}

#what-it-is {
  background: image-url('landing/slide1.jpg') no-repeat center center;
  //background-attachment: fixed;
}

#how-it-works {
  background: image-url('landing/slide2.jpg') no-repeat center center;
  //background-attachment: fixed;
}

#what-it-costs {
  background: image-url('landing/slide3.jpg') no-repeat center center;
  //background-attachment: fixed;
}

#crowdfunding {
  background: image-url('landing/slide4.jpg') no-repeat top center;
  //background-attachment: fixed;
}


/* FB - Button */

.fb_button {
  background: image-url('landing/fb_icon.png');
  background-size: 24px 24px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #3a5898;
  background-position: 19px center;
  background-repeat: no-repeat;
  color: #FFF;
  cursor: pointer;
  font-size: 20px;
  line-height: 40px;
  margin: 0 auto;
  padding: 0 20px 0 80px;
  position: relative;
  text-align: center;
  transition: background-color 0.15s linear 0s;
  -webkit-transition: background-color 0.15s linear 0s;
  -moz-transition: background-color 0.15s linear 0s;
  -o-transition: background-color 0.15s linear 0s;
  display: inline-block;
  
  .separator {
    border-left: 1px solid #2f4a84;
    border-right: 1px solid #4163aa;
    transition: border-color 0.15s linear 0s;
    -webkit-transition: border-color 0.15s linear 0s;
    -moz-transition: border-color 0.15s linear 0s;
    -o-transition: border-color 0.15s linear 0s;
    height: 100%;
    left: 60px;
    position: absolute;
  }
  
  .text {
    display: inline-block;
    margin: 10px 0;
  }
  
  &:hover {
    background-color: #334E84;
    color: #FFF;
  }
  
  &.sm {
    width: 100%;
    font-size: 15px;
    padding: 0px;
    
    .text {
      margin: 0px;
    }
  }
  
  &.xs {
    background-position: 8px center;
    font-size: 14px;
    padding: 0 16px 0 50px;
    
    .separator {
      left: 38px;
    }
    
    .text {
      margin: 0px;
    }
  }
}


/* Sign in form */

#login-form {
  .btn-primary {
    width: 100%;
  }
}

//Media query

@media (max-width: $screen-md-max) {
  .landing-section {
    padding-top: 14%;
    padding-bottom: 5%;
  }  
}

@media (max-width: $screen-sm-max) {
  .landing-section {
    padding-top: 22%;
    padding-bottom: 6%;
  }  
}

@media (max-width: $screen-xs-max) {
  .landing-section {
    padding-top: 28%;
    padding-bottom: 7%;
    
    p {
      font-size: 14px;
    }    
    h2 {
      font-size: 24px;
    }
  }  
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {}
@media (min-width: $screen-lg-min) {
  .landing-section {
    padding-top: 15%;
    padding-bottom: 5%;
  }  
  .intro {
    padding: 0;
  }  
  .brand-heading {
    font-size: 50px;
    text-shadow: 2px 2px 10px #000;
  }  
  .intro-text {
    font-size: 25px;
  }
}

