/* =SONGS
---------------------------- */

.songss.index {
	.category-menu {
		margin-bottom: $line-height-base;
	}

	main > section {
		margin-bottom: $line-height-base*2;

		.no-content {
			text-align: center;
		}
	}

	.songs-list {

		li {
			//@include grid-column(5);
		}

		.cover-controls,
		.song-info {
			vertical-align: top;
		}

		.song-cover {
			display: block;
			width: 100%;
			height: auto;
		}
	}
}

.songss-list {
	//@extend %list;
	display: table;
	width: 100%;
	font-size: .9em;

	.song-info,
	.cover-controls {
		display: table-cell;
		vertical-align: middle;
	}

	p {
		margin: 0;
	}

	.song-play {
		font-size: 2em;
	}

	.cover-controls {
		width: 50px;
		position: relative;

		& + * {
			padding-left: 1em;
		}
	}

	.overlay {
		line-height: 50px;
	}

	.song-cover {
		display: block;
	}

	.song-artist {
		font-size: .9em;
		font-weight: normal;
	}

	li {
		display: table-row;
		padding-bottom: 5px;

		&:hover {
			.overlay {
				display: block;
			}
		}
	}
}

