<%= render 'shared/header_page', title: title %>

<% if !users.empty? %>
  <div class="thumbnail-grid row">
    <%= render users %>
  </div>
  <%= paginate users %>
<% else %>
  <div class="alert alert-warning">
    There are still no users to display.
  </div>
<% end %>
