<h1 class="page-header"><small><i class="glyphicon glyphicon-user"></i></small> <%= title %></h1>

<% if !users.empty? %>
  <div class="thumbnail-grid row">
    <%= render :partial => 'users/list', :collection => users, :as => :user %>
  </div>
  <%= paginate users %>
<% else %>
  <div class="alert alert-warning">
    There are still no users to display.
  </div>
<% end %>
