<table class="email_header" width="100%">
	<tr>		
		<td align="left">
			<p style="font-family: arial; font-size: 18px; padding: 10px; margin-bottom: 0px; border-bottom: 1px solid #ccc; color: #FFF; background: #45B9B6">InstrumentChamp</p>
		</td>
	</tr>
</table>
