<%= simple_form_for [ActivityComment.new], { remote: true, html: { class: 'clearfix comment-form', id: "new_activity_comment_"+activity.id.to_s } } do |f| %>
  <%= f.input :activity_id, input_html: { value: activity.id }, as: :hidden  %>
  <div class="pull-left comment-text-area"><%= f.input :comment, placeholder: 'Write a comment...', label: false, input_html: { :rows => 1 } %></div>
  <div class="pull-left comment-btn"><%= f.button :submit, 'Comment', class: 'btn btn-sm' %></div>
<% end %>