<%= render 'shared/header_page', title: 'Purchased Songs' %>

<p>
  Start playing your new song right now!
</p>

<div class="thumbnail-grid row">
  <%= render @user_purchased_song.song.decorate %>
</div>
