<h2>Members (<%= group.users.count %>)</h2>		
<div class="row member-widget">
	<% group.users.limit(8).each do |user| %>
	  <div class="col-md-3 col">
	  	<%= link_to person_path(user), class: 'thumbnail' do %>
	      <%= image_tag user.imagename_url %>
	    <% end %>
	  </div>
	<% end %>
</div>
<div><%= link_to "View all members", members_group_path(group) %></div>