<%= form_tag params.merge( :controller => "users", :action => "index"), {class: 'form-inline form-inline-xs', method: :get} do %>
	<div class="form-group">
  	<%= text_field_tag "Username or email", params[:username_or_email], {name: "username_or_email", placeholder: "Username or email", class: "form-control"} %>
  </div>
  <%= hidden_field_tag "song_id", params[:song_id] %>
  <%= submit_tag "Search", {class: "btn btn-primary"} %>
<% end %>
