<div class="current-user">
	<%= link_to people_path(user) do %>
		<%= image_avatar(user) %>
	<% end %>
	<div class="current-user-info">
		<h2 class="current-user-name">
			<%= link_to user.username, people_path(user) %>
		</h2>
		<p class="user-level">
			Career level<br />
			<span class="current-user-level"><%= user.level%></span>
		</p>
	</div>
</div>
