<% if users_list and !users_list.users.blank? %>

	<h3 class="clearfix">
	  <%= users_list.title %>
	  <% if users_list.display_more? %>
  		<%= link_to users_list.display_more_link, {class: 'btn btn-primary pull-right'} do %>
      	View more
      <% end %>
    <% end %>
	</h3>

  <div class="thumbnail-grid row">
  	<%= render users_list.users %>
  </div>

	<hr />
  <% if users_list.paginate? %>
    <%= paginate users_list.users %>
  <% end %>

<% end %>
