<div class="current-user">
	<%= image_avatar(user) %>
	<div class="current-user-info">
		<h2 class="current-user-name">Johan Brook</h2>
		<span class="current-user-level">InstrumentChamp</span>
	</div>
</div>
