<div class="current-user">
	<div class="pull-left">
		<%= link_to person_path(user) do %>
			<%= image_avatar(user) %>
		<% end %>
	</div>
	<div class="pull-left">
		<div class="current-user-info">
			<h4>
				<%= link_to user.username, person_path(user) %>
			</h4>
			<div class="user-level">
				<div class="text-muted">Career level</div>
				<%= user.level %>
			</div>
		</div>
	</div>
</div>
