<div class="row">
	<div class="medium-4 columns">
		<%= image_avatar(@user) %>
	</div>	

	<div class="medium-12 columns">
		<header>
			<h1><%= @user.username%></h1>
			<ul class="user-meta horizontal-list">
				<li class="user-level"><%= @user.level%></li>
			</ul>
		</header>
	</div>
</div>

<section>
	<h2>Open challenges</h2>
</section>
