<div class="modal fade" id="loadingDesktopApp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      	<div class="text-center">
	      	<h3>InstrumentChamp loading...</h3>
	      	<div class="progress progress-striped active">
					  <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
					    <span class="sr-only">Wait</span>
					  </div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-lg-offset-2">
						<%= image_tag asset_path('landing/play-logo.png'), class: "image-loading thumbnail" %>
					</div>
					<div class="col-lg-7">
						<div class="loading-song-info">
							<p class="type"></p>
							<h2 class="song_name"></h2>
							<p>Written by: <b><span class="written"></span></b></p>
							<p>Publisher: <b><span class="pubisher"></span></b></p>
						</div>
					</div>
				</div>
      </div>
    </div>
  </div>
</div>