<div class="row">
	<div class="col-md-10">
		<div class="wizard-steps clearfix">
		  <% @steps.steps.each do |step| %>
        <%= content_tag(:div, class: step.css_class) do %><%= link_to step.name, step.link %><% end %>
		  <% end %>
		</div>
	</div>
	<div class="col-md-2">
		<%= link_to @steps.current_step.next_link, {class: "btn btn-danger"} do %>
			Next
			<i class="glyphicon glyphicon-chevron-right"></i>
		<% end %>
	</div>
</div>
<br />



