<div id="select_payment_method">
	<%= render 'shared/header_page', title: 'Select a payment type', sub_header: true %>
	<br />
  <% PaymentMethod.default_order.each do |payment_method| %>
    <%= link_to payment_method.name, "#", {class: "btn btn-primary btn-lg select_payment_method " + payment_method.name.parameterize, id: payment_method.html_id, data: {payment_method_id: payment_method.id}} %>
  <% end %>
</div>
