<header>
	<h1 class="action-greeting">Hi <%= current_user%>!</h1>
	
	<div class="actions">
		<ul class="horizontal-menu large">
			<li><a class="btn" href="#">Quick start song</a></li>
			<li><a class="btn" href="#">Quick start challenge</a></li>
		</ul>
	</div>
</header>

<section>
	<h2>News feed</h2>


</section>
