<%= render "shared/onboarding_process_header", next_link: edit_user_instrument_path(current_user.id, next: "user_groupies"), css_classes: {welcome: "active-step", instrument: "", groupies: ""} %>

<h1 class="page-header">Welcome <%= current_user.username %></h1>

<p>
  You are the first of your friends to sign up.
  <br />
  InstrumentChamp is a music game platform where you can learn to play music and challenge your friends in music
</p>

<div class="bs-callout bs-callout-info">
	<h4>Signup Bonus</h4>
	<p>We have upgraded you to a 3 months premium account. (Total value: $29.97)</p>
</div>

