<h1>Welcome <%= current_user.username %></h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in metus iaculis, commodo lorem in, congue urna. Phasellus facilisis, elit eu sollicitudin elementum, sem dolor aliquam eros, ac dapibus velit felis ac est. Nunc ut justo vitae enim accumsan vehicula ac et libero. Sed consequat fermentum pulvinar. In at bibendum purus. In hac habitasse platea dictumst. Aenean augue augue, laoreet quis volutpat sed, ornare nec risus. Nulla purus mi, commodo a ultricies et, hendrerit sed risus. Curabitur eu nibh nunc. Nunc felis arcu, venenatis nec cursus non, blandit vulputate mi. Vestibulum sed urna non turpis fringilla commodo. Duis ornare euismod purus a placerat. Cras mattis et dolor vitae sagittis. Aenean porttitor imperdiet sem at euismod. Praesent ultrices vitae nulla ac vulputate. Sed fringilla in nisi sit amet adipiscing.
</p>

<p>
  Proin nec lacinia enim. Proin ac rhoncus enim, pharetra aliquam odio. Sed vulputate elit ut augue sagittis, eu congue enim vulputate. Vivamus mollis nibh est. Aliquam sit amet odio at ante rutrum venenatis vel et neque. Nulla dapibus ac risus ac vestibulum. Aenean quis urna purus. Sed ut nisi eget erat dictum bibendum.
</p>

<p>
  Donec elementum accumsan eleifend. Quisque vehicula dolor nec placerat convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin euismod, sapien ac tempus accumsan, neque nunc fermentum tortor, sit amet lacinia quam dui eget risus. Aliquam nec urna metus. Nulla varius consequat metus, pretium porta magna scelerisque sed. Pellentesque lacinia blandit purus sed tempor. In molestie dui ut sollicitudin pellentesque. Cras eleifend ipsum eget leo aliquam commodo.
</p>

<p>
  <%= link_to "Continue", edit_user_instrument_path(current_user.id, next: "user_groupies"), {class: "btn btn-primary"} %>
</p>
