<%= render "shared/onboarding_process_header" %>

<h1 class="page-header">Welcome <%= current_user.username %></h1>

<p>
   Let's get you started, first choose your instrument and then connect with your friends.
</p>

<div class="bs-callout bs-callout-info">
	<h4>Signup Bonus</h4>
	<p>We have upgraded you to a Premium account for 3 months.</p>
</div>

<br />

<p>
	<%= link_to @steps.current_step.next_link, {class: "btn btn-danger btn-lg"} do %>
		Get started
		<i class="glyphicon glyphicon-chevron-right"></i>
	<% end %>
</p>

