<%= render '/songs/search_form' %>

<br />

<%= render 'shared/header_page', title: 'Choose a song to start challenge', sub_header: true, view_more: 'View all', view_more_path: songs_path(challenged_id: params[:challenged_id], group_id: params[:group_id]) %>

<div class="thumbnail-grid row">
  <%= render @songs, modal: true %>
</div>

<script type="text/javascript">
  $(document).ready(listing_hover_effects);
  $(document).on('page:load', listing_hover_effects);
</script>
