<h1 class="huge light">Edit Song</h1>

<h2><%= @song.title %></h2>

<%= simple_form_for @song do |f| %>

  <div>
    <%= f.input :cover, label: false, hint: "Upload a cover image" %>
  </div>

  <div>
    <%= f.submit "Save", {class: "btn btn-primary"} %>
  </div>

<% end %>
