<div class="page-header">
	<h3>Choose a song to start challenge</h3>
	<%= content_tag 'div', class: 'btn-content' do %>
		<%= link_to 'View all', songs_path(challenged_id: params[:challenged_id]), {class: 'btn btn-primary'} %>
	<% end %>
</div>

  <div class="thumbnail-grid row">
    <%= render partial: "song", collection: @songs %>
  </div>

<script>
	$(document).ready(function(){
		$(".thumbnail-grid .thumbnail").hover((function() {
		  $(this).children(".overlay-actions").show();
		}), function() {
		  $(this).children(".overlay-actions").hide();
		});
	});
</script>
