<h1 class="page-header"><small><i class="glyphicon glyphicon-music"></i></small> Free Songs</h1>

<div class="thumbnail-grid row">
	<%= render partial: "song", collection: @songs %>
</div>

<%= paginate @songs %>