<%= render 'shared/header_page', title: 'Songs' %>

<%= render 'search_form' %>

<hr />

<% if @categories.blank? and !@songs.blank? %>

  <div class="thumbnail-grid row">
  	<%= render partial: "song", collection: @songs %>
  </div>

  <%= paginate @songs %>

<% else %>

	<p class="no-content">No songs found</p>

<% end %>
