<h1><i class="icon-music"></i> Songs</h1>

<% if @categories.blank? and !@songs.blank? %>

<ul class="list songs-list">
	<%= render partial: "song", collection: @songs, layout: "layouts/list_layout" %>
</ul>

<% else %>

<% @categories.each do |category| %>
	<section>
		<h2><%= category.title%> <small><%= link_to "View all", songs_path(category: category.id)%></small></h2>

		<% unless category.songs.blank? %>
		<ul class="songs-list block-grid">
			<%= render partial: "song", collection: category.songs.limit(3), layout: "layouts/list_layout" %>
		</ul>
		<% else %>
		<p class="no-content">No songs</p>
		<% end %>
	</section>
<% end %>

<% end %>
