<h3 class="clearfix">
		Songs
			<%= link_to songs_path, {class: 'btn btn-primary pull-right'} do %>
	    	View all
    <% end %>
	</h3>

  <div class="thumbnail-grid row">
    <%= render partial: "song", collection: @songs %>
  </div>

<script>
	$(document).ready(function(){
		$(".thumbnail-grid .thumbnail").hover((function() {
		  $(this).children(".overlay-actions").show();
		}), function() {
		  $(this).children(".overlay-actions").hide();
		});
	});
</script>
