<h1><%= @song.title %></h1>

<div class="actions">
	<a href="<%= @song.desktop_app_uri %>" class="btn large">Quick start song</a>
	<%= link_to "Create challenge", new_challenge_path(song: @song.id), class: "btn large" %>
</div>

<p>
	<%= link_to "Back to songs", songs_path %>
</p>
