<% if flash[:welcome] %>

	<script>(function(d, s, id) {
	 var js, fjs = d.getElementsByTagName(s)[0];
	 if (d.getElementById(id)) return;
	 js = d.createElement(s); js.id = id;
	 js.src = "//connect.facebook.net/sv_SE/all.js#xfbml=1&appId=563800430326433";
	 fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script> 
    
  
  <div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-body">
	      	<div class="text-center">
		      	<h2>Welcome!</h2>
		        <p><%= flash[:welcome] %>, thanks for signing up. We are launching in May and will send you a 
	        	backstage pass to the alpha test very soon!</p> 
	        	<p><strong>Signup reward:</strong> We have upgraded you to a 3 months premium account. 
	        	(Total value: $29.97)</p>        	
        	</div>
        	<hr />        	
        	<div style="width: 220px; height: 100px">
						<div class="fb-like-box" data-href="https://www.facebook.com/instrumentchamp" data-width="220" data-height="100" data-colorscheme="light" data-show-faces="false" data-header="true" data-stream="false" data-show-border="true"></div>
					</div>
	      </div>
	    </div>
	  </div>
	</div>
  
<% end %>

<section class="get-started">
	<h1 class="huge">Great, let's get you started!</h1>

	<div><%= link_to "Quick start song", @song.desktop_app_uri, {class: 'btn btn-primary btn-huge'} %></div><br/>
	<div><%= link_to "Quick start challenge", new_challenge_path, {class: 'btn btn-danger btn-huge'} %></div>

</section>

<% if params[:take_tour] %>
  <%= content_for(:js_scripts) do %>

    <script type="text/javascript">
      // Instance the tour
      var tour = new Tour({
        name: "tour",
        container: "body",
        keyboard: true,
        storage: false,
        backdrop: true,
        reflex: true,
        steps: [
        {
          element: "#friends",
          title: "People",
          content: "<p>Follow and challenge people.</p><p>Connect with your friends, favorite artists and teachers</p>"
        },
        {
          element: "#music",
          title: "Songs",
          content: "<p>Learn to play a new song or create a new challenge</p>"
        },
        {
          element: "#challenges",
          title: "Challenges",
          content: "<p>Create a new challenge, accept a challenge or see the results from your previous challenges</p>"
        },
        {
          element: "#apps",
          title: "App Store",
          content: "<p>Download the game to your PC & MAC</p>"
        }
      ]});

      $(document).ready(function() {
        tour.init();
        tour.start();
      });
    </script>

  <% end %>
<% end %>
