<header>
	<h1 class="action-greeting">Hi <%= current_user%>!</h1>

	<div class="actions">
		<ul class="horizontal-menu large">
			<li><a class="btn" href="<%= @song.desktop_app_uri %>">Quick start song</a></li>
			<li><a class="btn" href="#">Quick start challenge</a></li>
		</ul>
	</div>
</header>

<section class="get-started">
	<h2>Get started with Music360</h2>

	<p class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi soluta pariatur cupiditate delectus, quam, in culpa quidem nam, vel totam maxime, molestias facere cum reprehenderit aspernatur dolore illum distinctio id?</p>

	<p class="download">
		<%= link_to "Download", "#", class: "download-os btn-accent large" %>
	</p>


</section>
