<section class="get-started">
	<h1 class="huge">Great, let's get you started!</h1>

	<ul class="list">
		<li><a class="btn-accent huge" href="<%= @song.desktop_app_uri %>">Quick start song</a></li>
		<li><a class="btn-confirm huge" href="#">Quick start challenge</a></li>
	</ul>


</section>
