<%= render 'shared/header_page', title: 'Mobile Version' %>

<p>
	Thanks for joining the community! You can connect and interact with your friends and groups with your smart phone, but currently you need a computer to play the game. We support both Windows and MAC users.
</p>
