<%= render "shared/onboarding_process_header" %>

<p>
  <%= image_tag "start_tour_main.png", width: 700, height: 300 %>
</p>

<p>
  <%= link_to "Start started with InstrumentChamp", root_path(take_tour: 1), {class: "btn btn-primary"} %>
</p>
