<h1 class="page-header"> InstrumentChamp - Building a global music company with Nordic roots</h1>

<p>InstrumentChamp was founded by The Willner Brothers in Sweden in 2011, after a frustration of learning to play guitar. They set out on a mission to transform the music learning experience and make the world play music. Learning to play music should be fun, easy and social - and it can be with InstrumentChamp.</p> 

<p>After developing the core technology and product in 2011-2013, the company are now ready to launch an amazing music game platform. The team consist of a six man strong core team and an experienced advisory board that will empower millions of people around the world to play music. The team members are based in Sweden, Norway, Germany, India, Argentina and USA.<p> 

<p><strong>The founders</strong> Founded by two brothers from Varberg in Sweden, both tech entrepreneurs with experience with starting, running and exit a business. The team now consist of 8 professionals backed by a great advisory board with experience of building and growing global digital services.<p>

<p>Magnus is a father of three and music tech enthusiast, passionate about changing the way we learn to play music. Serial entrepreneur with exit experience, providing IT and Internet services since the 90s. Made an exit with Inceptive AB and is now focusing on InstrumentChamp.</p>

<p>Fun facts: Former pro-beach volleyball player, still going strong. <p>

<p>Lars is a young tech entrepreneur from the video technology industry, with a unique combination of business, finance and tech knowledge. Startup advisor for young entrepreneurs around Scandinavia and previously CFO for SnapTV AS in Oslo. Global citizen with experience from Brazil and China.<p>

<p>Fun facts: Outdoors enthusiast - love to hike, ski, kite, sail.<p>

<h3>The core team</h3>

<p>Peter Fosso: Content and Marketing Manager. American music entrepreneur with background as music artist, teacher and music industry professional. Co-founder of NetMusic Corporation in 1999, built the largest catalogue of independent music in the world and the company later went public.</p>

<p>Johan Brook: UX Design. Chalmers student and Spotify Street Team member. Love building sustainable products with and for great people.</p>

<p>Ashutosh Morwal: Game developer, with master in advance computing in games from Sterling University.</p>

<p>Leonardo Aballay: Front-end developer based in Cordoba, Argentina.</p>

<p>Edgardo Cabanillas: Back-end developer based in Freiburg, Germany.</p>

<p>Mauro Pantin: Guitar professor in Buenos Aires, producer of music for InstrumentChamp.</p>

<h3>The advisory board</h3>

<p>Johan Strömberg: Business angel and CEO of Schoolido, a digital education platform. Experience from the game industry with a successful exit with Bitsquid AB.</p>

<p>Jon Aabakken: CEO & Co-founder of MUNO – the leading private music education provider in Norway with hundreds of music teachers around the country.</p>

<p>Phillip Grønvold – Multi-award winning mobile product manager previously with Opera Software, managing growth of their mobile products from 50M to +200M users. </p>

<p>Daniel Michalczyk: Marketing expert previously General Manager for Uber Germany. Experience from Coca-Cola and Philip Morris.</p>

<p>Oskar Lissheim Boethius: Music Composer, Experienced UX/Interaction Designer and Mobile Application developer.</p>

<p>Tor Grønsund: Norwegian Lean Startup and Innovation Expert.</p>