<h1 class="page-header"> Contact information</h1>

<address>
  <strong>Magnus Willner, Co-founder & CEO</strong><br>
  <a href="mailto:lars@instrumentchamp.com">magnus@instrumentchamp.com</a>
  <div><abbr title="Phone">P:</abbr> +46702191483</div>
</address>

<address>
  <strong>Lars Willner, Co-founder</strong><br>
  <a href="mailto:lars@instrumentchamp.com">lars@instrumentchamp.com</a>
  <div><abbr title="Phone">P:</abbr> +4745517645</div>
</address>

<address>
  <strong>Music Instrument Champ AB</strong>
  <div>Kalle Bas Väg 8</div>
  <div>43854 HINDÅS</div>
  <div>SWEDEN</div>
</address>

