<h1 class="page-header"> Press</h1>

<h3>InstrumentChamp Newsrooms</h3>
<ul class="no-style">
	<li><a href="http://www.mynewsdesk.com/uk/instrumentchamp" target="_blank">UK</a></li>
	<li><a href="http://www.mynewsdesk.com/se/instrumentchamp" target="_blank">Swedish</a></li>
	<li><a href="http://www.mynewsdesk.com/no/instrumentchamp" target="_blank">Norwegian</a></li>
</ul>

<h3>InstrumentChamp in the news</h3>
<ul class="no-style">
	<li><a href="http://www.arcticstartup.com/2013/12/20/instrumentchamp-hits-its-crowdfunding-target" target="_blank">Arctic Startup Dec 2013</a></li>
	<li><a href="http://computersweden.idg.se/2.2683/1.539718/digital-musikboom-i-norden" target="_blank">Computer Sweden Jan 2014</a></li>
	<li><a href="http://www.tv2.no/play/underholdning/godmorgennorge/crowdfunding-785677.html" target="_blank">TV2 God Morgen Norge Jan 2014 </a></li>
	<li><a href="http://www.di.se/artiklar/2013/12/13/gitarrhjalte-jagar-pengar/" target="_blank">Dagens Industri Dec 2013 </a></li>
</ul>

<h3>Press contact:</h3>
<address>
  <strong>Lars Willner, Co-founder</strong><br>
  <a href="mailto:lars@instrumentchamp.com">lars@instrumentchamp.com</a>
  <div><abbr title="Phone">P:</abbr> +4745517645</div>
</address>