<h1 class="page-header"><small><i class="glyphicon glyphicon-plus"></i></small> Get Free</h1>
<p>
	Learn to play your favorite instrument <br />
	Challenge your friends online <br />
	Completely free
</p>
<p>
	Play with guitar, piano or drums made possible by ads
</p>
			