<h1 class="page-header"><small><i class="glyphicon glyphicon-plus"></i></small> Get Premium</h1>
<p>
	Play in a band with your friends - Multiplayer game <br />
	Ad -free <br />
	$9.99 per month <br />
</p>
<p>
	Extended catalogue of free songs
</p>