<%= form_tag searches_path, {class: "form-inline"} do %>
  <div class="form-group">
    <%= text_field_tag "search[value]", nil, {class: "form-control", placeholder: "search...", method: :post} %>
  </div>
  <%= submit_tag "Search", {class: "btn btn-success"} %>
<% end %>
