<%= render 'shared/header_page', title: title, sub_header: true, view_more: "View all", view_more_path: view_more_link %>

<% if !values.blank? %>
	<div class="thumbnail-grid row">
  	<%= render values %>
  </div>
<% else %>
  <p>
    No results to show
  </p>
<% end %>