/* =CURRENT USER
------------------------------- */

.current-user {
  margin-bottom: 20px;
  @include clearfix;

	.current-user-info {
		margin-top: 5px;
	}

	.avatar {
		margin-right: 10px;
		max-width: 80px;
	}

	.user-level {
		font-size: 11px;
	}
}
