/*	=FOOTER
----------------------------------------------------------------------*/

[role="contentinfo"] {
	margin-top: $lineheight;
	background-color: $accent-light;
	background-color: rgba($accent-light, .5);
	border-top: 1px solid $accent-light;
	padding: $lineheight 0;

	font-size: .8em;
	color: $gray;
}
