/*	=FOOTER
----------------------------------------------------------------------*/

footer {
	background-color: $brand-primary;
	color: white;	
	height: 40px;
	padding: $box-inset;
	margin-top: 20px;
	
	a {
	  color: white;
	}
}
