/*	=FOOTER
----------------------------------------------------------------------*/

footer {
	background-color: rgba($accent-light, 1);
	color: $gray;	
	height: 40px;
	padding: $box-inset;
	margin-top: 20px;
}
