/*	=HEADER
----------------------------------------------------------------------*/

[role="navbar"] {
	padding-top: 10px;
	@include box-shadow(0, 1px, 3px, rgba(#000, .1));
	
	.logo {
    font-weight: bold;
    color: $comp;
    text-decoration: none;
    @include transition(opacity, 0.2s, ease-out);
    line-height: 28px;
    font-size: 1.2em;

    &:hover {
      opacity: .8;
    }
  }
}

.link_header, .link_subheader {
  a { @extend .btn-secondary-color }
  margin: 0px;
  padding: 0px;
}

.link_header {
  font-size: 12px;
  font-weight: bold;
}

.link_subheader {
  font-size: 11px;
}

#search-box {
  margin-right: 30px;
  display: inline-block;
  
  .form-control-sm {
    display: inline-block;
  }
}

