/* =SIDE PANEL
------------------------------------ */

.side-panel {	
	.list-group {
	  .list-group-item {
	    padding: 8px 0px 8px 10px;
	    border: 1px solid $gray-lighter;
      border-width: 1px 0px;
      border-radius: 0px;
	  }
	}
}
