<div id="download-btn"></div>

<%= content_for(:js_scripts) do %>
	<script type="text/javascript">
		$(document).ready(function() {			
			var node = $("#download-btn");
			if (navigator.appVersion.indexOf("Mac")!=-1){
				node.html('<a class="download_btn" href="https://s3-us-west-2.amazonaws.com/instrumentchamp/InstrumentChamp_Band_Edition.dmg"><img src="http://blog.instrumentchamp.com/wp-content/uploads/2014/01/download_ic_osx.png" alt="Download InstrumentChamp for Windows" class="downloadbutton"/></a>');
			} else {
		  	node.html('<a class="download_btn" href="https://s3-us-west-2.amazonaws.com/instrumentchamp/InstrumentChamp.msi"><img src="http://blog.instrumentchamp.com/wp-content/uploads/2014/01/download_ic_win.png" alt="Download InstrumentChamp for Windows" class="downloadbutton"/></a>');
		  }
	  
	  	$(".download_btn").click(function(e) {
			  var action;
			  e.preventDefault();
			  action = $(this).attr("href");
			  $("#getReady").modal("show").on("shown.bs.modal", function() {
			    window.setTimeout((function() {
			      $("#getReady").modal("hide").on("hidden.bs.modal", function() {
			        window.location = action;
			        window.focus();
			      });
			    }), 4000);
			  });
			});
			
			<% if params[:auto_download] %>
				$( window ).load(function() {
					$("#getReady").modal("show");
				  if (navigator.appVersion.indexOf("Mac")!=-1){
						window.location = "https://s3-us-west-2.amazonaws.com/instrumentchamp/InstrumentChamp_Band_Edition.dmg";
					} else {
				  	window.location = "https://s3-us-west-2.amazonaws.com/instrumentchamp/InstrumentChamp.msi"
				  }
				  window.focus();
				});				
			<% end %>
	  });
	  
  </script>
<% end %>

<div class="modal fade" id="getReady" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="text-center">Install InstrumentChamp and get your <%= display_instrument %> ready</h3>
      </div>
    </div>
  </div>
</div>