<h1 class="page-header"><small><i class="glyphicon glyphicon-th"></i></small> Download</h1>

<p>To play songs and challenges you need to download and install the InstrumentChamp software to your computer.</p>

<br />
<div id="btn-download"></div>
<br />

<script>
	var node = document.getElementById("btn-download");

  if (navigator.appVersion.indexOf("Mac")!=-1){
    node.innerHTML = '<a class="download_btn" href="https://s3-us-west-2.amazonaws.com/instrumentchamp/InstrumentChamp_Band_Edition.dmg" target="_blank"><img src="http://blog.instrumentchamp.com/wp-content/uploads/2014/01/download_ic_osx.png" alt="Download InstrumentChamp for OSX 10.7+" class="downloadbutton"/></a>';
  }
  else {
    node.innerHTML = '<a class="download_btn" href="https://s3-us-west-2.amazonaws.com/instrumentchamp/InstrumentChamp.msi" target="_blank"><img src="http://blog.instrumentchamp.com/wp-content/uploads/2014/01/download_ic_win.png" alt="Download InstrumentChamp for Windows" class="downloadbutton"/></a>';
  }
  
</script>

<div class="modal fade" id="getReady" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="text-center">Install InstrumentChamp and get your <%= current_user.instrument.name %> ready</h3>
      </div>
    </div>
  </div>
</div>

<h3>Step by step instructions:</h3>
<ol>
	<li>Download the InstrumentChamp software for PC or MAC.</li>
	<li>Install InstrumentChamp on your computer.</li>
	<li>Connect your keyboard or digital drumset. Make sure your microphone is activated on your computer to play with acoustic instruments.</li>
	<li>Start InstrumentChamp.</li>
</ol>

<div class="bs-callout bs-callout-info">
	<h4>System requirements:</h4>
	<p>
		<ul class="no-style">
			<li>Operating system: Windows XP/Vista/7. OSX7+</li>
			<li>Operating system version (bit/SP): SP 3 (XP)</li>
			<li>Memory: 1 GB</li>
			<li>Hard drive (GB): 0,5</li>
			<li>Sound Card.</li>
			<li>Microphone.</li>
		</ul>
	</p>
	<h4>You can play with one or more musical instruments:</h4>
	<p>
		<ul class="no-style">
			<li><strong>Guitar requirements:</strong> Play with any acoustic or electric guitar.</li>
			<li><strong>Piano requirements:</strong> Recommended digital piano. You can also play with acoustic piano, but it needs to be perfectly in tune.</li>
			<li><strong>Drums:</strong> Play with digital drumset with usb or midi-port.</li>
		</ul>
	</p>
</div>

<p>You can get help to install and get started with InstrumentChamp on our <a href="https://instrumentchamp.zendesk.com" target="_blank">Zendesk</a> or by sending an email to the <a href="mailto: support@instrumentchamp.com">support team</a>.</p>

<% if !current_user.installed_desktop_app? %>
  <section>
    <%= link_to "I already installed the app", apps_path(installed: true) %>
  </section>
<% end %>
