<h1 class="page-header"><small><i class="glyphicon glyphicon-th"></i></small> Apps</h1>

<section>
	<h2>InstrumentChamp for Mac</h2>
	<p class="spacer-md">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, maxime esse dolor veniam pariatur molestias blanditiis qui nemo commodi deserunt doloremque rem suscipit ducimus in magni temporibus non illum. Mollitia.
	</p>
	<p>
		<a class="btn btn-primary" href="http://www.instrumentchamp.com/thanks-for-download-osx/"><i class="glyphicon glyphicon-circle-arrow-down"></i> Download for Mac</a>
	</p>
</section>

<hr class="spacer-md" />

<section>
	<h2>InstrumentChamp for Windows</h2>
	<p class="spacer-md">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, maxime esse dolor veniam pariatur molestias blanditiis qui nemo commodi deserunt doloremque rem suscipit ducimus in magni temporibus non illum. Mollitia.
	</p>
	<p>
		<a class="btn btn-primary" href="http://www.instrumentchamp.com/thanks-for-download-win/"><i class="glyphicon glyphicon-circle-arrow-down"></i> Download for Windows</a>
	</p>
</section>
