<h1>Apps</h1>

<section>
	<h2>InstrumentChamp for Mac</h2>
	
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, maxime esse dolor veniam pariatur molestias blanditiis qui nemo commodi deserunt doloremque rem suscipit ducimus in magni temporibus non illum. Mollitia.
	</p>

	<p>
		<a class="btn-accent large" href="http://www.instrumentchamp.com/thanks-for-download-osx/"> Download for Mac</a>
	</p>
	
</section>

<section>
	<h2>InstrumentChamp for Windows</h2>
	
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, maxime esse dolor veniam pariatur molestias blanditiis qui nemo commodi deserunt doloremque rem suscipit ducimus in magni temporibus non illum. Mollitia.
	</p>

	<p>
		<a class="btn-accent large" href="http://www.instrumentchamp.com/thanks-for-download-win/"> Download for Windows</a>
	</p>
	
</section>
