<h1 class="page-header clearfix"><small><i class="glyphicon glyphicon-flag"></i></small> Challenges
  <% if signed_in? %>
    <%= link_to "New challenge", new_challenge_path, {class: "btn btn-primary pull-right"} %>
  <% end %>
</h1>

<h3>Latest, open challenges right now.</h3>

<% unless @challenges.blank? %>
	<ul class="media-list">
		<%= render partial: "challenge", collection: @challenges %>
	</ul>
<% else %>

<p class="no-content">
  <p>No open challenges right now</p>
</p>

<% end %>
