<% if current_user.installed_desktop_app? and @autostart_challenge %>
  <META HTTP-EQUIV="Refresh" CONTENT="1; URL=<%= @autostart_challenge.desktop_app_uri %>">
<% end %>

<h1 class="page-header"><small><i class="glyphicon glyphicon-flag"></i></small> <%= @title %></h1>

<ul class="media-list">
	<% unless @challenges.blank? %>
		<%= render partial: "challenge", collection: @challenges %>
	<% else %>
</ul>

<p class="no-content">
  No challenges right now
</p>

<% end %>
