<%= render 'shared/header_page', title: @title %>

<% unless @challenges.blank? %>
	<div class="thumbnail-grid">
		<%= render partial: "challenge", collection: @challenges %>
	</div>
	<% if @paginate %>
    <hr />
    <%= paginate @challenges %>
  <% end %>
<% else %>

<p class="no-content">
  No challenges right now
</p>

<% end %>