<h1 class="page-header"><small><i class="glyphicon glyphicon-flag"></i></small> <%= @title %></h1>

<ul class="media-list">
	<% unless @challenges.blank? %>
		<%= render partial: "challenge", collection: @challenges %>
	<% else %>
</ul>

<p class="no-content">
  No challenges right now
</p>

<% end %>
