<%= render 'shared/header_page', title: @title %>

<ul class="media-list">
	<% unless @challenges.blank? %>
		<%= render partial: "challenge", collection: @challenges %>
		<% if @paginate %>
	    <hr />
	    <%= paginate @challenges %>
	  <% end %>
	<% else %>
</ul>

<p class="no-content">
  No challenges right now
</p>

<% end %>