<%= render 'shared/header_page', title: @title %>

<div class="clearfix">
  <div class="pull-right refresh-button-home">
    <%= refresh_button %>
  </div>
</div>

<% unless @challenges.blank? %>
	<div class="thumbnail-grid">
		<%= render @challenges %>
	</div>
	<% if @paginate %>
    <hr />
    <%= paginate @challenges %>
  <% end %>
<% else %>

<p class="no-content">
  No challenges right now
</p>

<% end %>