<%= render 'shared/header_page', title: @title %>

<div class="quick-challenge-container text-center">
	<% unless @challenges.blank? %>
		<%= render partial: "challenge", collection: @challenges %>
	<% else %>
</div>

<p class="no-content">
  No challenges right now
</p>

<% end %>
