<% if @autostart_challenge %>
  <META HTTP-EQUIV="Refresh" CONTENT="1; URL=<%= @autostart_challenge.desktop_app_uri %>">
<% end %>

<h1><i class="icon-challenge"></i> Your challenges</h1>

<p class="detail">
  Latest, open challenges right now.
</p>

<% unless @challenges.blank? %>
<ol class="challenges-list">
  <%= render partial: "challenge", collection: @challenges, layout: "layouts/list_layout" %>
</ol>

<% else %>

<p class="no-content">
  No open challenges right now
</p>

<% end %>
