<% if current_user.installed_desktop_app? and @autostart_challenge and !is_mobile? %>
  <META HTTP-EQUIV="Refresh" CONTENT="1; URL=<%= @autostart_challenge.desktop_app_uri %>">
<% end %>

<%= render 'shared/header_page', title: 'Your challenges' %>

<ul class="media-list">
	<% unless @challenges.blank? %>
		<%= render partial: "challenge", collection: @challenges %>
	<% else %>
</ul>

<p class="no-content">
  No open challenges right now
</p>


<% end %>

<% if @open_fb_notification_popup %>
  <%= render "facebook_friend_message_modal/new", challenge: @autostart_challenge %>
<% end %>
