/* =BUTTONS
---------------------------------------- */

.btn.btn-huge {
  padding: 12px;
  width: 280px;
  font-size: 20px;
}

.btn.action_button {
  margin-bottom: 2px;
  
  i {
    margin-right: 5px;
  }
}

.btn-secondary-color {
  color: $brand-secondary !important;
  
  &.hover {
    color: darken($brand-secondary, 15%) !important;
  }
}

