/* =BUTTONS
---------------------------------------- */

@mixin states($base-color, $color: $text-color, $border-color: lighten($color, 60%)) {
	background-color: $base-color;
	color: $color;
	@if ($border-color != none) {
	border: 1px solid $border-color;
	}

	&:hover,
	&:focus {
		outline: none;
		background-color: lighten($base-color, 5%);

		@if ($border-color != none) {
			border-color: darken($border-color, 10%);
		}
	}

	&:active {
		outline: none;
		background-color: darken($base-color, 5%);
	}
}

.btn,
button,
input[type="button"],
input[type="submit"] {
	-webkit-appearance: none;
	display: inline-block;
	text-align: center;
	padding: .5em .8em;
	text-decoration: none;
	color: $text-color;
	font-weight: 600;
	font-size: to_em(12);
	@include border-radius(2px);
	@include states($btn-color);
	@include transition(border-color .15s ease-out);
	@include box-shadow(rgba(#000, .06) 0 1px 1px);

	&.large {
		font-size: 1em;
		text-transform: uppercase;
		@include border-radius(4px);
	}

	&.huge {
		font-size: 2em;
		@include border-radius(.3em);
	}

	&.small {
		padding: .3em .5em;
		font-size: .8em;
	}

	&:hover {
		text-decoration: none;
	}

	&.block {
		width: 100%;
	}
}

.btn-light-on-dark {
	@extend .btn;
	@include states($btn-color-light-on-dark, $color: $text-color);
	border: 0;
	@include box-shadow(rgba(#000, .2) 0 1px 2px);
}

@mixin btn-accent($bcolor: $btn-color-accent) {
	@include states($bcolor, $color: #fff, $border-color: none);
	@include box-shadow(darken($bcolor, 15%) 0 2px 0);
	position: relative;
	border: 0;

	&:active {
		top: 2px;
		@include box-shadow(none);
	}
}

.btn-accent {
	@extend .btn;
	@include btn-accent;
}

.btn-confirm {
	@extend .btn;
	@include btn-accent($bcolor: $confirm);
}

input[type="submit"].btn-accent {
	@include btn-accent;
}
