/*	=ELEMENT SETUP
----------------------------------------------------------------------*/

img,
object,
embed,
iframe {
	max-width: 100%;
	height: auto;
	
	&.noscale {
		max-width: none;
	}
}

p {
	margin: 0;
}

main p {
	margin: 0 0 $lineheight;
}

a {
	color: $link-color;
	text-decoration: none; 
	font-weight: 600;

	&:hover {
		text-decoration: underline;
	}
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
