/* RESET */

a {
  color: #D4276A;
  text-decoration: none;
}

p {
  margin: 0 0 1.35em 0;
}

.spacer {
  padding: 10px 0px;
}

/**/


.email_container {
  width: 100%;
  font-family: Arial;
  font-size: 12px;
  color: #555;
  line-height: 18px;
}

.email_content {
  width: 600px;  
  padding: 20px 0px 20px 0px;
  text-align: justify;
  color: #555;
}

.email_header {
  padding: 0px 0px 10px 0px;
  font-size: 22px;
  color: #45B9B6;
  border-bottom: 1px solid #CCC;
  width: 600px;
}

.email_footer {
  background: #F3F3F3;
  border-top: 1px solid #ddd;
}

.email_footer_content {
  padding: 15px;
  width: 600px;
  text-align: justify;
  color: #888;
}

.email_btn {
  background-color: #5C9FBC;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  padding: 10px 15px;
  font-size: 14px;
  
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -khtml-border-radius: 5px;
  
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/*
.email_welcome_sentence {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #5c9fbc;
}

.email_welcome_elem {
  margin-bottom: 15px;
}

.email_welcome_activate {
  text-align: center;
  margin: 20px 0px;
}

.email_welcome_activate_img {
  width: 500px;
  margin: 0px auto;
}

.email_hello_user {
  padding-top: 10px;
  font-size: 15px;
}

.email_default_top_padding {
  padding-top: 15px;
}

.email_small_top_padding {
  padding-top: 10px;
}

.email_mini_top_padding {
  padding-top: 5px;
}

.email_small_bottom_padding {
  padding-bottom: 10px;
}

.email_btn {
  background-color: #DC3F81;
  border: 1px solid #9C1D53;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  padding: 5px 8px;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -khtml-border-radius: 5px;
}

.email_left_small_padding {
  margin-left: 5px;
}

.email_image_with_no_border {
  border-style: none
}

.email_small_font {
  font-size: 13px;
}

*/

