/* =FORMS
------------------------------- */

input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
textarea {
	-webkit-appearance: none;
	border: 1px solid #e2e2e2;
	padding: 5px 10px;
	background-color: #fff;
	font-size: 90%;
	@include transition(background-color .2s ease-out, box-shadow .2s ease-out);

	&:focus {
		background-color: #fff;
		outline: none;
		@include box-shadow(rgba(#fff, .8) 0 0 4px);
	}

	&.large {
		font-size: 1.1em;
		padding: 1em;
	}
}

input[type="search"] {
	@include border-radius(2em);
	@include box-shadow(inset rgba(#000, .2) 0 1px 1px);
}

.form-list {
	@extend %list;

	li {
		margin-bottom: $lineheight / 3;

		&:last-child {
			margin-bottom: 0;
		}

		input {
			width: 100%;
		}
	}
}
