/* =FORMS
------------------------------- */
/*
.datepicker.dropdown-menu {
  z-index: 10000;
  
  td span {
    height: 28px;
    line-height: 26px;
  }
  
  th.switch {
    width: 130px;
  }
}
*/
.checkout-form {
  h2 {
    margin-top: 0px;
  }
  .form-group {
    margin-bottom: 10px;
    label {
      width: 120px;
    }
    .wrap-content {
      display: inline-block;
      
      input.form-control {
        width: 200px;
      }
    }  
  }
  .credit_card_expiry_date {
    display: inline-block;
    width: 98px;
  }
}

#checkout_modal {
  overflow: hidden;
  .modal-header {
    padding: 10px 15px;
  }
  .modal-body {
    margin-bottom: 0px;
    padding-bottom: 5px;
  }
  .modal-dialog {
    width: 420px;
  }
  .alert {
    margin-bottom: 0px;
  }
  .modal-header, .modal-footer {
    background: #F2F3F5;
  }
  .modal-footer {
    font-size: 11px;
    color: #777;
    text-align: center;
  }
}

.alert.credentials-invalid {
  padding: 8px 0px;
  margin: 10px 0px 0px 0px;
}
