/*	=HEADINGS
----------------------------------------------------------------------*/
/*
.page-header {
  @extend .clearfix;
  i { 
    color: $brand-secondary;
    font-size: 20px;  
  }  
  h1, h3 {
    float: left;  
    margin-bottom: 0px;
  }
  .btn-content {
    float: right;
    margin-top: 20px;
  }
}

@media (max-width: $screen-xs-max) {
  .page-header {
    h1, h3 {
      float: none;
    }
    h1 {
      font-size: 26px;
    }
    .btn-content {
      float: none;
      margin-top: 10px;
    }
  }
}
*/
.header-page {
  @extend .clearfix;
  background: image-url('page_header_bg.png') repeat-x center bottom;
  border: 0px;
  margin: 10px 0px 30px 0px;
  position: relative;
  
  h1, h2 {
    padding: 0px 15px 0px 0px;
    display: inline;
    background: $body-bg;
    padding-right: 15px;
    margin: 0px;
  }  
  .header-page-btn {
    a { 
      @extend .btn-secondary-color; 
      font-size: 12px;
      font-weight: bold; 
      line-height: 16px;
    }
    background: $body-bg;
    padding-left: 10px;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  
  .header-page-title {
    width: 85px;
    height: 70px;
    padding-right: 15px;
    background: $body-bg;
  }
  
  .header-page-link {
    @extend .btn-secondary-color; 
    font-size: 16px;
    font-weight: normal;
  }
  
  &.sub-header {
    background: image-url('page_subheader_bg.png') repeat-x center bottom;
    //border-bottom: 1px solid #dedede;
    //background: none;
    
    .header-page-btn {
      //position: relative;
      //display: inline-block;
      //padding: 0px;
      
      a {
        font-weight: normal; 
      }
    }    
  }
}