/*	=HEADINGS
----------------------------------------------------------------------*/


h1, h2, h3, h4, h5, h6 {
	margin: 0 0 $lineheight / 3;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;

	[class^="icon-"] {
		font-size: .8em;
		color: $gray;
	}
}

.huge {
	font-size: to_em(36);
}

.light {
	font-weight: 300;
}

.subtitle {
	color: $gray-light;
}

h1 {
	font-size: to_em(22);
}

h2 {
	font-size: to_em(18);
}

h3 {
	font-size: to_em(16);
}

h4 {
	font-size: to_em(14);
}
