/* =ICONS
-------------------------------------- */
$icons_lg_width: 80px;
$icons_lg_height: 80px;

$icons_md_width: 60px;
$icons_md_height: 60px;

$icons_sm_width: 24px;
$icons_sm_height: 24px;



[class^="icon-instrument"], [class*=" icon-instrument"], [class^="icon-level"], [class*=" icon-level"] {
	background-image: image-url('sprite_instruments_level.png');
  background-repeat: no-repeat;
  display: inline-block;
}

.keyboard-sm { height: $icons_sm_height; width: $icons_sm_width; background-position: 0px -80px }
.guitar-sm { height: $icons_sm_height; width: $icons_sm_width; background-position: -24px -80px }
.guitar2-sm { height: $icons_sm_height; width: $icons_sm_width; background-position: -48px -80px }
.saxophone-sm { height: $icons_sm_height; width: $icons_sm_width; background-position: -72px -80px }
.trumpet-sm { height: $icons_sm_height; width: $icons_sm_width; background-position: -96px -80px }
.drums-sm { height: $icons_sm_height; width: $icons_sm_width; background-position: -120px -80px }

.keyboard-active { height: $icons_md_height; width: $icons_md_width; background-position: -480px -60px }
.guitar-active { height: $icons_md_height; width: $icons_md_width; background-position: -540px -60px }
.guitar2-active { height: $icons_md_height; width: $icons_md_width; background-position: -600px -60px }
.saxophone-active { height: $icons_md_height; width: $icons_md_width; background-position: -660px -60px }
.trumpet-active { height: $icons_md_height; width: $icons_md_width; background-position: -720px -60px }
.drums-active { height: $icons_md_height; width: $icons_md_width; background-position: -780px -60px }

.keyboard-disabled { height: $icons_md_height; width: $icons_md_width; background-position: -480px 0px }
.guitar-disabled { height: $icons_md_height; width: $icons_md_width; background-position: -540px 0px }
.guitar2-disabled { height: $icons_md_height; width: $icons_md_width; background-position: -600px 0px }
.saxophone-disabled { height: $icons_md_height; width: $icons_md_width; background-position: -660px 0px }
.trumpet-disabled { height: $icons_md_height; width: $icons_md_width; background-position: -720px 0px }
.drums-disabled { height: $icons_md_height; width: $icons_md_width; background-position: -780px 0px }

.keyboard-lg { height: $icons_lg_height; width: $icons_lg_width; background-position: 0px 0px }
.guitar-lg { height: $icons_lg_height; width: $icons_lg_width; background-position: -80px 0px }
.guitar2-lg { height: $icons_lg_height; width: $icons_lg_width; background-position: -160px 0px }
.saxophone-lg { height: $icons_lg_height; width: $icons_lg_width; background-position: -240px 0px }
.trumpet-lg { height: $icons_lg_height; width: $icons_lg_width; background-position: -320px 0px }
.drums-lg { height: $icons_lg_height; width: $icons_lg_width; background-position: -400px 0px }

.level1 { height: 120px; width: 288px; background-position: 0px -120px }
.level2 { height: 120px; width: 288px; background-position: -288px -120px }
.level3 { height: 120px; width: 288px; background-position: 0px -240px }
.level4 { height: 120px; width: 288px; background-position: -288px -240px }
.level5 { height: 120px; width: 288px; background-position: 0px -360px }
.level6 { height: 120px; width: 288px; background-position: -288px -360px }
.level7 { height: 120px; width: 288px; background-position: 0px -480px }
.level8 { height: 120px; width: 288px; background-position: -288px -480px }
.level9 { height: 120px; width: 288px; background-position: 0px -600px }
.level10 { height: 120px; width: 288px; background-position: -288px -600px }

.level1-sm { height: 60px; width: 60px; background-position: -296px -720px }
.level2-sm { height: 60px; width: 60px; background-position: -356px -720px }
.level3-sm { height: 60px; width: 60px; background-position: -416px -720px }
.level4-sm { height: 60px; width: 60px; background-position: -476px -720px }
.level5-sm { height: 60px; width: 60px; background-position: -536px -720px }
.level6-sm { height: 60px; width: 60px; background-position: -596px -720px }
.level7-sm { height: 60px; width: 60px; background-position: -656px -720px }
.level8-sm { height: 60px; width: 60px; background-position: -716px -720px }
.level9-sm { height: 60px; width: 60px; background-position: -776px -720px }
.level10-sm { height: 60px; width: 60px; background-position: -836px -720px }

.level-currently { height: 100px; width: 148px; background-position: 0px -720px }
.level-next { height: 100px; width: 148px; background-position: -148px -720px }

.level1_progress { height: 120px; width: 288px; background-position: 0px -120px }
.level2 { height: 120px; width: 288px; background-position: -288px -120px }
.level3 { height: 120px; width: 288px; background-position: 0px -240px }
.level4 { height: 120px; width: 288px; background-position: -288px -240px }
.level5 { height: 120px; width: 288px; background-position: 0px -360px }
.level6 { height: 120px; width: 288px; background-position: -288px -360px }
.level7 { height: 120px; width: 288px; background-position: 0px -480px }
.level8 { height: 120px; width: 288px; background-position: -288px -480px }
.level9 { height: 120px; width: 288px; background-position: 0px -600px }
.level10 { height: 120px; width: 288px; background-position: -288px -600px }
