/* =LISTINGS
---------------------------------------- */

.thumbnail-grid {
  .masonry-img {
    margin-bottom: 20px;
      
    .thumbnail {
      //min-height: 150px;
      position: relative;
      margin-bottom: 10px;
      
      .overlay-actions {
        background:rgba(69, 185, 182, 0.75);
        display: none;
        position: absolute;
        z-index: 999;
        bottom: 0px;
        left: 0px;
        text-align: center;
        width: 100%;
        height: 100%;
        padding: 10px;
        word-break: break-all;
        word-wrap: break-word;
      
        .thumb-info, .thumb-info a {
          color: white
        }
      }
    }
  }
  
  .btn-group-vertical {
    width: 100%;
  }
}

.modal-content .masonry-img .thumbnail {
  min-height: 0;
}
