/* =NAVIGATION
----------------------------------- */

[role="navigation"] {
	[class^="glyphicon"] {
		margin-right: 12px;
	}
}

.navbar-collapse.navbar-main {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-toggle.navbar-toggle-main {
  position: absolute;
  top: 0px;
  right: 0px;
  border: 1px solid #CCC;

  .icon-bar {
    background: #CCC;
  }

  &:hover {
    background: #efefef;
  }
}