/* =NAVIGATION
----------------------------------- */

[role="navigation"] {
	[class^="glyphicon"] {
		margin-right: 12px;
	}
}

.navbar-collapse.navbar-main {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-toggle.navbar-toggle-main {
  position: absolute;
  top: 0px;
  right: 0px;
  border: 1px solid #CCC;

  .icon-bar {
    background: #CCC;
  }

  &:hover {
    background: #efefef;
  }
}

.main-section-nav {
  margin-bottom: 20px;
  padding: 10px 0px;
  border-bottom: 1px solid #e6e6e6;

  .main-section-nav-list {
    list-style: none;
    margin: 4px 0px 0px 0px;
    padding: 0px;

    li {
      float: left;
      margin: 0px;
      padding: 0px 20px;
    }
  }

  .dropdown {
    display: inline-block;
  }

  h4 {
    margin: 0px;
  }

  .action_button {
    i {
      display: none;
    }
    margin-bottom: 0px;
  }
}
