/* =BUTTONS
---------------------------------------- */

img.thumbnail {
  max-width: $thumb-max-width;
  width: 100%;
}

.avatar-xs {
  width: 50px;
  height: 50px;
}

.thumbnail {
  &.thumbnail-challenge {
    width: 150px;
    margin-bottom: 10px;
    display: inline-block;
    
    img {
      width: 150px;
    }
  } 
}

@media (max-width: $screen-xs-max) {
  .thumbnail {
    &.thumbnail-challenge {
      width: 100px;
      margin-bottom: 10px;
      display: inline-block;
      
      img {
        width: 100px;
      }
    } 
  }
}
