/*	=MAIN SITE STYLES
----------------------------------------------------------------------*/

html {
	background-color: $body-bg;
	width: 100%;
  height: 100%;
}

body {
	-webkit-tap-highlight-color: #fff;
	font: normal $font-size-base/$line-height-base $font-family-sans-serif;
	color: $text-color;
	width: 100%;
  height: 100%;
}

[class^="glyphicon"] {
  margin-right: 5px;
}

[role="application"] {
  padding-top: 70px;
}

[role="main"] {
	//@include grid-row;
}

/* Wrapper for page content to push down footer */
#page-wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

// ELEMENTS
// Include stuff like headings, links, buttons, forms, element styling ..

@import "common/buttons";
@import "common/listings";


// PARTIALS
// Different areas of the site layout, ex. header, sidebars.

@import "partials/*";

// VIEWS
// Different views, ex. home, profile page, etc.

@import "views/*";

// RESPONSIVE STYLES

//@import "viewports/medium";
//@import "viewports/small";
