body, html {
    width: 100%;
    height: 100%;
}

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.5);
    text-transform: uppercase;
    background-color: #000;
}

.navbar.navbar-custom {
  //background: url('/assets/black80.png');
  background-color:rgba(0, 0, 0, 0.8);
  min-height: 0;
  padding: 15px 0px;
  border-bottom: 1px solid rgba(255,255,255,.3);
  
  .navbar-brand {
    height: auto;
    padding: 0px;
    margin-left: 0px !important;
    line-height: 30px;
  }
  
  .navbar-brand:focus {
      outline: 0;
  }
  
  a {
      color: #fff;
  }
  
  a.button {
      color: #333;
  }
  
  .nav li a {
      -webkit-transition: background .3s ease-in-out;
      -moz-transition: background .3s ease-in-out;
      transition: background .3s ease-in-out;
  }
  
  .nav li a:hover,
  .nav li a:focus,
  .nav li.active {
      outline: 0;
      background-color: rgba(255,255,255,.2);
  }
}

.navbar-custom-links.top-nav-collapse {
    border-top: 1px solid rgba(255,255,255,.3);
    top: 60px;
    bottom: auto;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: image-url('landing/bg1.jpg') no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro-text {
    font-size: 18px;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 60px;
        text-shadow: 2px 2px 10px #000;
    }

    .intro-text {
        font-size: 25px;
    }
}

#what-it-is, #how-it-works, #what-it-costs {
  width: 100%;
  padding: 200px 0px;
  color: #fff;
  background-color: #000;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#what-it-is {
  background: image-url('landing/bg2.jpg') no-repeat center center scroll;
  background-attachment: fixed;
}

#how-it-works {
  background: image-url('landing/bg3.jpg') no-repeat center center scroll;
  background-attachment: fixed;
}

#what-it-costs {
  background: image-url('landing/bg4.jpg') no-repeat center center scroll;
  background-attachment: fixed;
  padding: 200px 0px 100px 0px;
}

.page-scroll .icon-bar {
    background: #FFF;
}

.page-scroll.active a {
  position: relative;
  background: #88b7d5;
  color: #FFF;
}

.page-scroll.active a:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #88b7d5;
  border-width: 10px;
  margin-left: -10px;
}

.page-scroll.active a:hover, .page-scroll.active a:focus {
  position: relative;
  background: #88b7d5 !important;
}

.page-scroll a {
  -webkit-transition: background 300ms ease-in 100ms; /* property duration timing-function delay */
  -moz-transition: background 300ms ease-in 100ms;
  -o-transition: background 300ms ease-in 100ms;
  transition: background 300ms ease-in 100ms;
}

.page-scroll a:hover, .page-scroll a:focus {
  background: none !important;
}

.navbar.navbar-custom-links {  
  //background: url('/assets/black80.png');
  background-color:rgba(0, 0, 0, 0.8);
  min-height: 0;
  padding: 15px 0px;
  border-bottom: 1px solid rgba(255,255,255,.3);
  
  .navbar-nav {
    display: inline-block;
    float: none;
    width: 100%;
    
    li {
      width: 33%;
    }
    
    a {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  
  .container {
    text-align: center;
  }
}

#login-form {
  .btn-primary {
    width: 100%;
  }
}

.fb_button {
  background: image-url('landing/fb_icon.png');
  background-size: 24px 24px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #3a5898;
  background-position: 19px center;
  background-repeat: no-repeat;
  color: #FFF;
  cursor: pointer;
  font-size: 20px;
  line-height: 40px;
  margin: 0 auto;
  padding: 0 20px 0 80px;
  position: relative;
  text-align: center;
  transition: background-color 0.15s linear 0s;
  -webkit-transition: background-color 0.15s linear 0s;
  -moz-transition: background-color 0.15s linear 0s;
  -o-transition: background-color 0.15s linear 0s;
  display: inline-block;
  
  .separator {
    border-left: 1px solid #2f4a84;
    border-right: 1px solid #4163aa;
    transition: border-color 0.15s linear 0s;
    -webkit-transition: border-color 0.15s linear 0s;
    -moz-transition: border-color 0.15s linear 0s;
    -o-transition: border-color 0.15s linear 0s;
    height: 100%;
    left: 60px;
    position: absolute;
  }
  
  .text {
    display: inline-block;
    margin: 10px 0;
  }
  
  &:hover {
    background-color: #334E84;
    color: #FFF;
  }
}

#sections-container {
  h2 {
    font-size: 38px;
    padding-bottom: 20px;
    text-shadow: 2px 2px 10px #000;
  }
  p {
    font-size: 22px;
    text-shadow: 2px 2px 10px #000;
  }
}

#parallax-bg {  
  z-index: 0;
  position: fixed;
  left: 50%; 
  top: 0;
  width: 940px;
  margin-left: -470px;
  }
  #bg3-2 {
    position: absolute;
    top: 670px;
    right: 0px;
    }
  #bg3-3 {
    display: none;
    position: absolute;
    top: 1220px;
    left: 0px;
    }
  #bg3-4 {
    position: absolute;
    top: 1820px;
    left: 0px;
    }
