<div class="text-center">
  <h1>Download the game for free</h1>
  <p>
    Download and install the game to play your first challenges. You can then find more songs and friends in the online community.
  </p>
  <%= link_to "Start download", home_path, class: "btn btn-primary btn-lg" %>
</div>