<h1>Welcome as an InstrumentChamp community member!</h1>
<br />
<p>
  InstrumentChamp is a game and community for
  music players. You can play music with your friends
  online, or get together and play together in a band.
</p>
<br />
<%= link_to "Continue", getting_started_instrument_selection_path, class: "btn btn-primary btn-lg btn-full-width" %>