<div class="text-center">
  <h1>Invite your friends</h1>
  <p>
    Music is social, invite your friends to join InstrumentChamp. You will get a surprise bonus when they join!
  </p>
  <%= link_to "Challenge & Continue", getting_started_download_path, class: "btn btn-primary btn-lg" %>
</div>