<% if params[:next] %>
  <%= render "shared/onboarding_process_header" %>
<% end %>

<h1 class="page-header">Choose the instrument you want to play</h1>

<%= simple_form_for current_user, url: user_instrument_path(current_user.id, next: params[:next]) do |f| %>

  <div>
    <% Instrument.all.each do |instrument| %>
      <%= link_to(image_tag(instrument.image_url, class: "thumbnail"), "#", {class: "select_instrument", data: {"instrument-id" => instrument.id}}) %>
    <% end %>
  </div>

  <div>
    <%= f.hidden_field :instrument_id %>
  </div>

<% end %>
