<% if params[:next] %>
  <%= render "shared/onboarding_process_header" %>
<% end %>

<h1 class="page-header">Choose the instrument you want to play</h1>

<%= simple_form_for current_user, url: user_instrument_path(current_user.id, next: params[:next]) do |f| %>

  <div>
    <%= f.association :instrument, label_html: { class: 'large required' } %>
  </div>
  <br />
  <div>
    <%= f.submit "Save", {class: "btn btn-primary"} %>
  </div>

<% end %>
