<!doctype html>
<html>
	<head>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= render "layouts/head" %>		
	</head>

	<body role="application" class="<%= body_classes %>" data-spy="scroll" data-target=".navbar-custom-links">
		<%= yield %>
	</body>	
</html>
