<!doctype html>
<html>
	<head>
		<%= render "layouts/head" %>
		<%= stylesheet_link_tag "login", media: "all", "data-turbolinks-track" => true %>
	</head>

	<body role="application" class="<%= body_classes %>">
		<%= yield %>
	</body>
</html>
